
table, tr, th, td {
border: 1px solid;
border-collapse: collapse;
padding: 5px;
background-color: white;

}
tr, td:hover {background-color: black;}

textarea{
    font-family: Arial;
}

main{
    margin-left: 15%;
    margin-right: 15%;
}

div{
    background-image:  radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(160,20,173,1) 100%);
}

#Photo-de-profil{
    border: 10px solid magenta;
    opacity: 0.9;
}        

#Photo-de-profil:hover{
    transform: scale(1.1);

}

table>caption{
    text-transform: uppercase;
}

.ind{
    margin-left: 5%;
}

span{
    font-style: italic;
}   

a.link:hover{
    font-weight: bold;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
  
h1{
  font-family: 'Roboto', sans-serif;
}


form * {
    margin-bottom: 5px;
    display: block;
}

